<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpHost"    value="smtp.gmail.com"                 />
		<add key="SmtpPort"    value="587"                            />
		<add key="EnableSsl"   value="true"                           />
		<add key="SmtpUser"    value="trousselhugo@gmail.com"       />
		<add key="SmtpPass"    value="riavkukatqlgmbzj"              />
		<add key="FromAddress" value="trousselhugo@gmail.com"       />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source=PC-HUGO\mssqlserver01;Initial Catalog=Appli_Ticketing;Integrated Security=True;Encrypt=False"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>